<h1>Lista de poderes disponíveis</h1>

<div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: powers_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control me-2",
            placeholder: "Pesquisar um poder"
        %>
      <%= submit_tag "Pesquisar", name: "", class: "custom-button" %>
    <% end %>
  </div>
</div>

<ul>
  <div class="card-container">
    <% @powers.each do |power| %>
      <%= link_to power_path(power), class: "card-link" do %>
        <div class="card">
          <div class="card-image">
            <% if power.photo.present? %>
              <%= cl_image_tag power.photo.key, height: 450, width: 350 %>
            <% else %>
              <%= image_tag "no-image.jpg", alt: "Sem imagem" %>
            <% end %>
          </div>
          <li><%= power.name %></li>
        </div>
      <% end %>
    <% end %>
  </div>
</ul>
