<div class="power-container">
  <div class="power-row">
    <div class="power-image">
      <% if @power.photo.present? %>
        <%= cl_image_tag @power.photo.key, height: 500, width: 350, crop: :fill, class: "power-img" %>
      <% else %>
        <%= image_tag "no-image.jpg", alt: "Sem imagem", width: 350, height: 500, class: "power-img" %>
      <% end %>
    </div>

    <div class="power-details">
      <div class="power-card">
        <div class="power-card-body">
          <h2 class="power-title"><%= @power.name %></h2>
          <h3 class="power-subtitle">Descrição do poder</h3>
          <p class="power-text"><%= @power.description %></p>
          <p class="power-price">$<%= @power.price %></p>

          <div class="power-button-group">
            <%= button_to "Comprar", orders_path(order: { power_id: @power.id }),
                data: { turbo_method: :post }, class: "power-button" %>

            <% if @power.user == current_user %>
              <%= button_to "Editar", edit_power_path(@power), method: :get, class: "power-button" %>
              <%= button_to "Deletar", power_path(@power), method: :delete, class: "power-button" %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
