<div class="container">
  <div class="header-text">
    Superpoderes à venda! Porque esperar uma mutação radioativa pode levar tempo demais.
  </div>

  <div class="carousel">
    <button class="prev-btn">&#10094;</button>
    <div class="cards-container">
      <div class="cards-wrapper">
        <div class="card"><%= image_tag("cards/card-power-11.png", alt: "Card SuperPowers") %></div>
        <div class="card"><%= image_tag("cards/card-power-12.png", alt: "Card SuperPowers") %></div>
        <div class="card"><%= image_tag("cards/card-power-8.png", alt: "Card SuperPowers") %></div>
        <div class="card"><%= image_tag("cards/card-power-2.png", alt: "Card SuperPowers") %></div>
        <div class="card"><%= image_tag("cards/card-power-6.png", alt: "Card SuperPowers") %></div>
      </div>
    </div>
    <button class="next-btn">&#10095;</button>
  </div>
</div>
