<div class="container-powers">
  <div class="header-text">
    <h1>Superpoderes à venda!</h1>
    <p> Porque esperar uma mutação radioativa pode levar tempo demais.</p>
  </div>

  <div class="cards-home">
    <div class="home-container">
      <div class="column">
        <%= image_tag "caroussel/img1.png", class: "img" %>
        <%= image_tag "caroussel/img2.png", class: "img" %>
        <%= image_tag "caroussel/img3.png", class: "img" %>
        <%= image_tag "caroussel/img4.png", class: "img" %>
        <%= image_tag "caroussel/img5.png", class: "img" %>
        <%= image_tag "caroussel/img1.png", class: "img" %>
        <%= image_tag "caroussel/img2.png", class: "img" %>
        <%= image_tag "caroussel/img3.png", class: "img" %>
        <%= image_tag "caroussel/img4.png", class: "img" %>
        <%= image_tag "caroussel/img5.png", class: "img" %>
        <%= image_tag "caroussel/img1.png", class: "img" %>
        <%= image_tag "caroussel/img2.png", class: "img" %>
        <%= image_tag "caroussel/img3.png", class: "img" %>
        <%= image_tag "caroussel/img4.png", class: "img" %>
        <%= image_tag "caroussel/img5.png", class: "img" %>
      </div>

      <div class="column">
        <%= image_tag "caroussel/img6.png", class: "img" %>
        <%= image_tag "caroussel/img7.png", class: "img" %>
        <%= image_tag "caroussel/img8.png", class: "img" %>
        <%= image_tag "caroussel/img9.png", class: "img" %>
        <%= image_tag "caroussel/img10.png", class: "img" %>
        <%= image_tag "caroussel/img6.png", class: "img" %>
        <%= image_tag "caroussel/img7.png", class: "img" %>
        <%= image_tag "caroussel/img8.png", class: "img" %>
        <%= image_tag "caroussel/img9.png", class: "img" %>
        <%= image_tag "caroussel/img10.png", class: "img" %>
        <%= image_tag "caroussel/img6.png", class: "img" %>
        <%= image_tag "caroussel/img7.png", class: "img" %>
        <%= image_tag "caroussel/img8.png", class: "img" %>
        <%= image_tag "caroussel/img9.png", class: "img" %>
        <%= image_tag "caroussel/img10.png", class: "img" %>
      </div>

      <div class="column">
        <%= image_tag "caroussel/img11.png", class: "img" %>
        <%= image_tag "caroussel/img12.png", class: "img" %>
        <%= image_tag "caroussel/img13.png", class: "img" %>
        <%= image_tag "caroussel/img21.png", class: "img" %>
        <%= image_tag "caroussel/img22.png", class: "img" %>
        <%= image_tag "caroussel/img11.png", class: "img" %>
        <%= image_tag "caroussel/img12.png", class: "img" %>
        <%= image_tag "caroussel/img13.png", class: "img" %>
        <%= image_tag "caroussel/img21.png", class: "img" %>
        <%= image_tag "caroussel/img22.png", class: "img" %>
        <%= image_tag "caroussel/img11.png", class: "img" %>
        <%= image_tag "caroussel/img12.png", class: "img" %>
        <%= image_tag "caroussel/img13.png", class: "img" %>
        <%= image_tag "caroussel/img21.png", class: "img" %>
        <%= image_tag "caroussel/img22.png", class: "img" %>
      </div>

      <div class="column">
        <%= image_tag "caroussel/img16.png", class: "img" %>
        <%= image_tag "caroussel/img17.png", class: "img" %>
        <%= image_tag "caroussel/img18.png", class: "img" %>
        <%= image_tag "caroussel/img19.png", class: "img" %>
        <%= image_tag "caroussel/img20.png", class: "img" %>
        <%= image_tag "caroussel/img16.png", class: "img" %>
        <%= image_tag "caroussel/img17.png", class: "img" %>
        <%= image_tag "caroussel/img18.png", class: "img" %>
        <%= image_tag "caroussel/img19.png", class: "img" %>
        <%= image_tag "caroussel/img20.png", class: "img" %>
        <%= image_tag "caroussel/img16.png", class: "img" %>
        <%= image_tag "caroussel/img17.png", class: "img" %>
        <%= image_tag "caroussel/img18.png", class: "img" %>
        <%= image_tag "caroussel/img19.png", class: "img" %>
        <%= image_tag "caroussel/img20.png", class: "img" %>
      </div>
    </div>
  </div>
</div>





